#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
}
.App > form {
  display: flex;
  gap:15px;
  justify-content: space-between;
  align-items: center;
}
form > button {
  color: black;
}
.decks {
  display: grid;
  width: 500px;
  grid-gap: 10px;
  margin: 0 auto;
  grid-template-columns: repeat(2, 1fr);
}
.decks li {
  margin-bottom: 15px;
  justify-content: center;
  display: flex;
  align-items: center;
  color:white;
  height: 300px;
  background:black;
  border-radius: 10px;
  border:  1px solid rgb(31, 30, 30);
  box-shadow: 11px 2px 31px 8px rgba(115,106,106,0.75);
-webkit-box-shadow: 11px 2px 31px 8px rgba(115,106,106,0.75);
-moz-box-shadow: 11px 2px 31px 8px rgba(115,106,106,0.75);
}
.decks li:hover{
  opacity: 0.4;
  cursor: pointer;
}